<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header class="header">
    <h1>Inventory management application</h1>
    <nav class="navigation">
        <a href="/">Home</a> |
        <a href="/items">Items</a> |
        <a href="/add-item">Add Item</a>
        <a href="/about">About</a>
    </nav>
    <hr>
</header>
<main class="container">
    <h2>A book reading list</h2>
    <section class="content">
        <p>Welcome to the Inventory Management Application! This application helps you keep track of your inventory items efficiently. You can add new items, view existing items, and manage your inventory with ease.</p>
        <p>Use the navigation links above to explore the different features of the application.</p>
        <div class="lists">
            <%- include('toread', { toReadList: toReadList }) %>
            <%- include('reading', { readingList: readingList }) %>
            <%- include('finished', { finishedList: finishedList }) %>
        </div>
    </section>
</main>

</body>
</html>
