.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  margin: 20px;
  font-family: Arial, sans-serif;
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .book-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    a {
      text-decoration: none;
      color: inherit;

      .book-item {
        background: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        transition: box-shadow 0.3s ease;
        // width: 22rem;
        height: 80%;
        margin-top: 10px;

        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .book-title {
          font-size: 1.2em;
          margin-bottom: 10px;
          color: #333;
        }

        .book-author {
          font-size: 1em;
          color: #666;
        }
      }
    }
  }
}
