.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .content {
    margin: 20px;
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .author-list {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;

      div {
        position: relative;

        .author-delete-form {
          position: absolute;
          top: -10px;
          right: 10px;
          text-align: center;

          button {
            background-color: #ff4d4d;
            color: white;
            border: none;
            padding: 6px 10px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #e60000;
            }
          }
        }
      }

      a {
        text-decoration: none;
        color: inherit;

        .author-item {
          background: #f9f9f9;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 15px;
          transition: box-shadow 0.3s ease;
          height: 80%;
          margin-top: 10px;

          &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          }

          .author-name {
            font-size: 1.2em;
            margin-bottom: 10px;
            color: #333;
          }

          .author-bio {
            font-size: 1em;
            color: #666;
          }
        }
      }
    }
  }
}
