.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .genres-list {
    list-style: none;

    & a {
      text-decoration: none;
      color: #333;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
